<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Nhom11_DoAnQuanLySinhVien.Properties.Settings.QuanlydiemSinhVienConnectionString"
            connectionString="Data Source=DESKTOP-D3AR037;Initial Catalog=QuanlydiemSinhVien;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Nhom11_DoAnQuanLySinhVien.Properties.Settings.QuanLyDiemSinhVienDBConnectionString"
            connectionString="Data Source=DESKTOP-D3AR037;Initial Catalog=QuanLyDiemSinhVienDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>